body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*app_layout*/

#logo_wrapper{
  float: left;
  width: 5vw;
  height: 5vw;
}

#main_nav img{
  width: 4vw;
  padding-left: 1vw;
  padding-top: 1vw;
}

#main_nav img:hover{
  width: 3.8vw;
}

#main_menu{
  float: right;
}

#main_menu li{
  float: left;
  list-style: none;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vw;
}

#main_menu li:hover{
  color: #FF7004;
}

.main_menu_link {
  text-decoration: none;
  color: black;
  font-size: 1vw;
}

#unread_message_notification{
  width: 0.8vw !important;
  height: 0.8vw !important;
  padding-left: 0 !important;
  padding-top: 0vw !important;
}


/*search*/

#search_div{
  width: 100vw;
  height: 100vh;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#search_area{
  position: absolute;
  left: 57vw;
  top: 36vw;
}

#search_area input{
  height: 3vw;
  width: 14vw;
  border: none;
  border-bottom: 1px solid black;
}

#search_area input:first-child{
  display: block;
  width: 28vw;
}

#search_area button{
  display: block;
  width: 9vw;
  height: 3vw;
  border-style: solid;
  border: 1px solid black;
  background-color: transparent;
  margin-top: 3vw;
}

#search_buttton_link{
  text-decoration: none;
}

#featured_meals_div button{
  display: block;
  width: 9vw;
  height: 3vw;
  border-style: solid;
  border: 1px solid black;
  background-color: transparent;
  margin-top: 1vw;
  margin-left: 4vw;
}

.search_detail_link {
  color: black;
  text-decoration: none;
}

.separation_line {
  position: relative;
  left: -10vw;
  width: 40vw;
  border-top: 1px solid black;
}

#starmeal_div{
  margin: 10vw 10vw;
  height: 30vw;
}

#starmeal_div h4{
  font-size: 2vw;
  margin-bottom: 0;
}

#starmeal_div h2{
  font-size: 1.5vw;
  font-weight: normal;
  letter-spacing: 0.5vw;
}


#starmeal_div img {
  float: right;
  height: 25vw;
}

#starmeal_div p {
  font-size: 0.9vw;
  padding-left: 4vw;
  margin-top: 0;
  letter-spacing: 0.2vw;
}

#starmeal_star{
  position: relative;
  left: 31vw;
  top: -1vw;
}


#mostpopular_div{
  margin: 10vw 10vw;
  height: 30vw;
}

#mostpopular_content_div{
  float: left;
  width: 20vw;
  padding-left: 2vw;
}

#mostpopular_separation_line{
  position: relative;
  left: -10vw;
  width: 40vw;
  border-top: 1px solid black;
}

#mostpopular_div h4{
  font-size: 2vw;
  margin-bottom: 0;
}

#mostpopular_div h2{
  font-size: 1.5vw;
  font-weight: normal;
  letter-spacing: 0.5vw;
}

#mostpopular_div p {
  font-size: 0.9vw;
  padding-left: 4vw;
  margin-top: 1vw;
  letter-spacing: 0.2vw;
}

#mostpopular_div img {
  float: left;
  height: 28vw;
}

#mostpopular_star{
  position: relative;
  left: -0.2vw;
}

#cheapest_div{
  margin: 10vw 10vw;
  height: 30vw;
}

#cheapest_div img {
  float: right;
  height: 25vw;
}

#cheapest_div h4{
  font-size: 2vw;
  margin-bottom: 0;
}

#cheapest_div h2{
  font-size: 1.5vw;
  font-weight: normal;
  letter-spacing: 0.5vw;
}


#cheapest_div p {
  font-size: 0.9vw;
  padding-left: 4vw;
  margin-top: 1vw;
  letter-spacing: 0.2vw;
  width: 25vw;
}

#cheapest_star{
  position: relative;
  left: -0.2vw;
}

.image1-enter{
  opacity: 0;
  transform: translateX(100%);
}

.image1-enter.image1-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}

.content1-enter{
  opacity: 0;
  transform: translateX(-100%);
}

.content1-enter.content1-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}

.image2-enter{
  opacity: 0;
  transform: translateX(-100%);
}

.image2-enter.image2-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}

.content2-enter{
  opacity: 0;
  transform: translateX(100%);
}

.content2-enter.content2-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}

.image3-enter{
  opacity: 0;
  transform: translateX(100%);
}

.image3-enter.image3-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}

.content3-enter{
  opacity: 0;
  transform: translateX(-100%);
}

.content3-enter.content3-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}




/*meal_result*/

#search_result_wrapper{
  width: 100vw;
  height: auto;
}

.search_result_unit {
  width: 90vw;
  height: 15vw;
  padding-left: 3vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  border-bottom: 1px solid black;
  margin-left: 5vw;
}

.search_result_img_div {
  float: left;
  height: 20vw;
}

.search_result_img {
  height: 15vw;
}

.search_result_content {
  padding-left: 3vw;
  float:left;
}

.search_result_content h2 {
  margin-top: 0;
}

.search_result_button_div {
  float: right;
}

.search_result_unit button{
  display: block;
  width: 9vw;
  height: 3vw;
  border-style: solid;
  border: 1px solid black;
  background-color: transparent;
  margin-top: 5vw;
}

.search_result_link{
  text-decoration: none;
}

.search_result_link:hover{
  color: #FF7004;
}

#search_result_no_result_div {
  text-align: center;
  padding-top: 10vh;
}

#search_result_no_result_div button {
  display: block;
  width: 9vw;
  height: 3vw;
  border-style: solid;
  border: 1px solid black;
  background-color: transparent;
  margin-top: 5vw;
  margin-left: 45vw;
}

#search_result_no_result_link {
   text-decoration: none;
   color:black;
}
/*meal*/

#meal_main_img_div{
  float: left;
  height: auto;
}

#meal_main_img_div img{
  height: 25vw;
  margin-top: 2vw;
  margin-left: 2vw;
  margin-bottom: 2vw;
}

#meal_info_div{
  float: left;
  height: 25vw;
  margin-top: 2vw;
  padding-left: 2vw;
}

#meal_info_div h2{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1vw;
}

#meal_info_div h4{
  display: block;
  margin-top: 0;
}

#meal_info_div button{
  display: inline-block;
  margin-left: 2vw;
  width: 7vw;
  height: 2vw;
  border-style: solid;
  border: 1px solid black;
  background-color: transparent;
}

#meal_course_div{
  clear:left;
  padding: 1vw 10vw;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 80vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

#meal_other_img_div {
  margin-left: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

#meal_map {
  height: 15vw;
  width: 15vw;
}

#meal_other_img_div img{
  height: 15vw;
  margin-left: 2vw;
}

#meal_join_info_div {
  float: left;
}

#meal_join_div {
  float: left;
  margin-left: 2vw;
  padding-bottom: 2vw;
  margin-right: 2vw;
}

#meal_join_div p{
  padding-left: 2vw;
}

#meal_join_content_div {
  float: left;
  margin-left: 2vw;
}

#meal_join_div input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 1vw;
}

#meal_join_div button {
  float: left;
  margin-top: 2vw;
  margin-left: 2vw;
  width: 9vw;
  height: 3vw;
  border-style: solid;
  border: 1px solid black;
  background-color: transparent;
}

#join_meal_number {
  height: 2vw;
  width: 3vw;
}

#meal_people_going_div {
  border-top: 1px solid black;
  clear: left;
  margin-left: 4vw;
  padding-top: 1vw;
  margin-right: 2vw;
}

#meal_review_div {
  float: left;
  padding-left: 2vw;
  padding-bottom: 2vw;
  border-left: 1px solid black;
  margin-bottom: 2vw;
}

.display_star {
  width: 6vw;
  height: 2vw;
}

#meal_review_star {
  width: 6vw;
  height: 2vw;
}

.star0 {
  background-image: url(images/0star.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.star1 {
  background-image: url(images/1star.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.star2 {
  background-image: url(images/2star.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.star3 {
  background-image: url(images/3star.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.star4 {
  background-image: url(images/4star.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.star5 {
  background-image: url(images/5star.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#meal_review_div button{
  float: left;
  margin-top: 2vw;
  margin-right: 1vw;
  width: 9vw;
  height: 3vw;
  border-style: solid;
  border: 1px solid black;
  background-color: transparent;
}

.meal_review_img {
  margin-right: 1vw;
  height: 10vw;
}

#meal_writereview_div{
  clear: left;
  padding-top: 2vw;
}

#meal_writereview_content_div input{
  width: 30vw;
  height: 3vw;
  border: none;
  border-bottom: 1px solid black;
}

#meal_writereview_img_div{
  padding-top: 1vw;
}

#meal_writereview_img_div img{
  margin-right: 0.5vw;
  height: 50px;
}

#meal_submit_review_button {
  background-color: black !important;
  color:white !important;
  border: none !important;
}

/*user*/

#user_wrapper{
  padding-top: 2vw;
}

#user_info_div{
  float: left;
  padding-left: 2vw;
}

#user_info_div img{
  height: 12vw;
  float: left;
}

#user_info_content_div{
  float: left;
  width: 50vw;
  padding-left: 2vw;
  margin-left: 2vw;
  border-left: 1px solid black;
}

#user_hosted_meal_div{
  float: left;
  margin-left: 2vw;
  margin-top: 3vw;
  padding-top: 1vw;
  padding-bottom: 3vw;
  width: 96vw;
  border-top: 1px solid black;
}

#user_hosted_meal_div button{
  width: 9vw;
  height: 3vw;
  border-style: solid;
  border: 1px solid black;
  background-color: transparent;
}

.user_hosted_meal_unit_div img{
  width: 20vw;
}

.user_hosted_meal_unit_div{
  float: left;
  width: 24vw;
}

/*sign in*/

#signin_wrapper h4 {
  position: absolute;
  font-family: Arial, sans-serif;
  left: 75.25vw;
  top: 34.5vw;
  color: black;
  font-size: 5vw;
}

#signin_content_wrapper {
  float: left;
  position: relative;
  background-color: black;
  width: 70vw;
  height: 32vw;
  margin-top: 10vh;
  color:white;
}

#signin_content_div {
  position: absolute;
  left: 34vw;
  top: 18vw;
}

#signin_content_div p{
  position: relative;
  top: 2vw;
}

#signin_input_div{
  float: left;
}


#signin_input_div input{
  display: block;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  height: 3vw;
  width: 28vw;
  color: white;
}

#signin_content_div button {
  position: relative;
  top: 2vw;
  clear: left;
  display: block;
  border-style: solid;
  border: 1px solid white;
  width: 9vw;
  height: 3vw;
  color:white;
  background-color: transparent;
}

#signin_decor{
  float: left;
  width:15vw;
  height: 29vw;
  margin-top: 10vh;
  background-image: url(images/spices.jpg);
  background-size: cover;
}

/*sign up*/

#signup_wrapper h4 {
  font-family: Arial, sans-serif;
  position: absolute;
  left: 75.25vw;
  top: 36.5vw;
  color: black;
  font-size: 5vw;
}

#signup_content_wrapper {
  float: left;
  background-color: black;
  width: 65vw;
  height: 28vw;
  padding-top: 5vw;
  padding-left: 5vw;
  margin-top: 10vh;
}

#signup_content_wrapper input {
  display: block;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  height: 3vw;
  width: 28vw;
  color: white;
  padding-left: 3vw;
}

.signup_valid {
  background-image: url(images/success.png);
  background-size: 5%;
  background-repeat: no-repeat;
  background-position: left;
}

.signup_invalid {
  background-image: url(images/error.png);
  background-size: 5%;
  background-repeat: no-repeat;
  background-position: left;
}

#signup_content_div1{
  float: left;
}

#signup_content_div2{
  float: left;
}

#signup_content_button_div{
  clear: left;
  display: block;
  position: relative;
  top: 2vw;
}

#signup_content_button_div button{
  border-style: solid;
  border: 1px solid white;
  width: 12vw;
  height: 3vw;
  color:white;
  margin-right: 2vw;
  background-color: transparent;
}

#signup_decor{
  float: left;
  width:15vw;
  height: 29vw;
  margin-top: 10vh;
  background-image: url(images/dishes.jpg);
  background-size: cover;
}


/*dashboard */

#dashboard_wrapper{
  background-color: white;
}

#dashboard_ul{
  padding: 2vw 1vw;
  background-color: black;
}

#dashboard_ul li{
  float: left;
  list-style:none;
  color: white;
  padding-right: 4vw;
}

#dashboard_ul li:hover{
  color: #FF7004;
}

/*message layout*/

#message_nav{
  float:left;
  width: 20vw;
}

#message_nav_ul li {
  list-style: none;
}

.message_nav_link {
  color:black;
  text-decoration: none;
  line-height: 2.85vw;
}

#message_div{
  float: left;
}

/*inbox*/

.message_title_div h2 {
  display: inline-block;
}

.new_message_button {
  position: relative;
  top: 1vw;
  width: 2vw;
  margin-left: 1vw;
  vertical-align: top;
}

.message_content_div {
  border: 1px solid black;
  width: 75vw;
  height: 56vh;
  overflow-y: scroll;
}

.message_content_unit_div {
  border-bottom: 1px solid black;
  display: block;
}

.message_content_unit_div:last-child {
  border-bottom: none;
}

.message_content_unit{
  padding-left: 2vw;
  float: left;
}

.message_content_unit_button{
  float: right;
}


.message_content_unit_title {
  font-family: Arial, sans-serif;
  font-size: 1vw;
}

.message_content_unit_content {
  font-family: Arial, sans-serif;
  font-size: 0.8vw;
}

.message_content_name_unread {
  font-family: Arial, sans-serif;
  font-size: 1.3vw;
  font-weight: bold;
  text-decoration: none;
  color: red;
}

.message_content_name_read {
  font-family: Arial, sans-serif;
  font-size: 1.3vw;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.message_content_div button {
  border-style: solid;
  border: 1px solid black;
  width: 12vw;
  height: 3vw;
  color:black;
  margin-right: 2vw;
  background-color: transparent;
  display: block;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.reply_button_link {
  text-decoration: none;
  color:black;
}

/*new message */

#new_message_wrapper label{
  display: block;
  margin: 2vw 0;
}

#new_message_wrapper input{
  display: block;
  width: 60vw;
  height: 3vw;
  border: none;
  border-bottom: 1px solid black;
}

#new_message_wrapper textarea{
  display: block;
  width: 60vw;
  height: 10vw;
  border: 1px solid black;
}

#new_message_wrapper button{
  display: block;
  border-style: solid;
  border: 1px solid black;
  width: 12vw;
  height: 3vw;
  color:black;
  margin-right: 2vw;
  background-color: transparent;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#new_message_candidate_div{
  position: absolute;
  background-color: black;
  color: white;
  width: 30vw;
  padding: 1vw;
}

.new_message_candidate_unit_div{
  padding: 1vw;
  border-bottom: 1px solid white;
}

#new_message_candidate_div img, #new_message_candidate_div p{
  float: left;
}

.new_message_candidate_name{
  float: left;
  font-size: 1.2vw;
  margin: 1vw 0.5vw 1vw 1vw;
}

.new_message_candidate_title{
  float: left;
  font-size: 1vw;
  margin: 1.2vw 0;
}

#new_message_candidate_div img{
  float: left;
  width: 6vw;
}

/*meallist layout*/

#meallist_nav{
  float:left;
  width: 20vw;
}

#meallist_nav_ul li {
  list-style: none;
}

.meallist_nav_link {
  color:black;
  text-decoration: none;
  line-height: 2.85vw;
}

#meallist_div{
  float: left;
}

/*meallist*/

.meallist_unit_div{
  border: 1px solid black;
  width: 20vw;
  padding: 1vw;
  float: left;
  margin-right: 1vw;
}

.meallist_unit_div img{
  height: 10vw;
}

.meallist_join_number_div{
  display: block;
}

.meallist_unit_div input{
  width: 2vw;
  height: 3vw;
  border: none;
  border-bottom: 1px solid black;
}

.meallist_watch_button {
  display: inline-block;
  border-style: solid;
  border: none;
  width: 6vw;
  height: 2vw;
  color:white;
  margin-right: 2vw;
  background-color: black;
  margin-bottom: 0.5vw;
}

.meallist_join_button{
  display: block;
  border-style: solid;
  border: 1px solid black;
  width: 12vw;
  height: 3vw;
  color:black;
  margin-right: 2vw;
  background-color: transparent;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.meallist_title_link {
  text-decoration: none;
  color: black;
  font-size: 1.3vw;
  font-weight: bold;
}

.meallist_title {
  margin-top: 0;
}

.pay_button {
  display: block;
  border-style: solid;
  border: none;
  width: 12vw;
  height: 3vw;
  color:white;
  background-color: black;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}

/*host_dashboard*/

#host_dashboard_nav{
  float:left;
  width: 20vw;
}

#host_dashboard_nav_ul li {
  list-style: none;
}

.host_dashboard_nav_link {
  color:black;
  text-decoration: none;
  line-height: 2.85vw;
}

#host_dashboard_div{
  float: left;
}

/*create_meal*/

#create_meal_wrapper label{
  display:block;
  margin: 1vw 0;
}

#create_meal_wrapper input{
  width: 60vw;
  height: 3vw;
  border: none;
  border-bottom: 1px solid black;
}

.create_meal_invalid {
  border-bottom: 1px solid red !important;
}

#create_meal_wrapper span{
  color:grey;
}

#create_meal_address{
  width: 30vw !important;
}

#create_meal_city, #create_meal_state{
  width: 15vw !important;
}

.create_meal_input {
  float: left !important;
  width: 20vw !important;
}

.create_meal_input_clear {
  clear: left !important;
}

#create_meal_wrapper button{
  display: block;
  border-style: solid;
  border: 1px solid black;
  width: 12vw;
  height: 3vw;
  color:black;
  margin-right: 2vw;
  background-color: transparent;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#create_meal_error{
  color:red;
}

#create_meal_button{
  background-color: black !important;
  color:white !important;
  border: none !important;
}

#create_meal_complete{
  width: 65vw;
  text-align: center;
  padding-top: 5vw;
}

#create_meal_complete button{
  display: block;
  border-style: solid;
  border: 1px solid black;
  width: 12vw;
  height: 3vw;
  color:black;
  margin-right: 2vw;
  background-color: transparent;
  margin: 3vw 27vw;
}


/*manage request*/
.manage_request_unit_div {
  display:block;
  border-bottom: 1px solid black;
  width: 70vw;
}

.manage_request_title {
  text-decoration: none;
  color:black;
  font-weight: bold;
}

.manage_request_unit_div img {
  float: left;
  height: 5vw;
  padding: 4vw 1vw;
}

.manage_request_unit_content{
  float: left;
}

.manage_request_unit_button{
  float: right;
  margin-top: 2vw;
}

.manage_request_unit_button button{
  display:block;
  border-style: solid;
  border: 1px solid black;
  width: 12vw;
  height: 3vw;
  color:black;
  margin-right: 2vw;
  background-color: transparent;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
